<div class="container">

  <div class="selector-name">
    <select class="name-options" [(ngModel)]="searchforName" >
      <option value="">Buscar por Nombre</option>
      <option value="{{ name.description }}" *ngFor="let name of bimService.bimManufact | orderBim">{{name.description}}</option>
    </select>
  </div>

  <div class="row">      
    <div class="cards" *ngFor="let info of bimService.bimManufact | searchName:searchforName | orderBim">
      <mat-card class="card">
          <img mat-card-image [src]="'https://bedec.itec.cat/img/' + info.idemp + '/' + info.image" class="card-img" alt="{{info.description}}">
          <mat-card-content class="card-body">
            <h5 class="card-title"> {{info.description}} </h5>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" [routerLink]="['/detail', info.id]" class="button">Details</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

