  
.container {
  display: block;
  height: 100%;
  margin-top: 5%;
}

.cards {
    max-width: 100%;
    display: contents;

}

.card {
    max-width: 250px;
    margin-bottom: 20px;
    margin-inline: auto;
}

.card-img {
    max-width: 100%;
}