<div class="container">
    <form class="register-form">
        <h1>Registro</h1>
        <!-- <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre completo" required="required"/>
        <input type="text" [(ngModel)]="nameCompany" name="nameCompany" placeholder="Nombre de la empresa en que trabaja"/>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required"/> -->
        <button type="submit">Registrarse</button>
    </form>
</div>
